<table border="1">
  <tr>
    <th>
      Name
    </th>
    <th>
      Link
    </th>
  </tr>
  <% @cats.each do |cat| %>
    <tr>
      <td>
        <%= cat.name %>
      </td>
      <td>
        <%= link_to "Cat Page",cat_path(cat)%>
      </td>
    </tr> 
    <% end %>
</table>
